
/******* base styles ********/

body {
    margin: 0px;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: black;
    width: fit-content;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;

}

.title_bg {
    background-color: rgb(255, 196, 0);
    padding: 15px;
}

.content {
    background-color: #313131;
    padding-bottom: 1200px;
    padding-top: 60px;
    position: relative;
}

.section_1 {
    background-color: #ffffff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.section_2 {
    background-color: #ffffff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.section_3 {
    background-color: #ffffff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#span_1 {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
    float: right;
    background-color: rgb(230, 143, 29);
    padding: 10px;
    margin-bottom: 10px;  
}

#span_2 {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
    float: right;
    background-color: rgb(86, 230, 29);
    padding: 10px;
    margin-bottom: 10px;  
}

#span_3 {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
    float: right;
    background-color: rgb(128, 162, 255);
    padding: 10px;
    margin-bottom: 10px;  
}


#col_1 {
    clear: both;
    padding: 20px;

}


p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
    width: 100%;
}

/******* Large devices ********/

@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    .col-lg-4 {
        width: 33.33%;
    }

}
/******* Medium devices ********/

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
    .section_3 {
        background-color: #ffffff;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
}

/******* Small devices ********/

@media (max-width: 767px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
}